@keyframes moveFloor {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes moveBackground {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes buildingAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-1 * var(--travel-distance, 100vw)));
    }
}

@keyframes natureAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-1 * var(--travel-distance, 100vw)));
    }
}